.chatlist {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
.chatforBotResponse {
	background-color: #5d8aa8 !important;
}
.messagefield {
	display: inline-block;
	vertical-align: top;
	width: 80%;
}
.messages {
	height: 500px;
	display: flex;
	flex-flow: column;
	overflow-y: scroll;
	background-color: #e9e9e9;
}
.columnsProf {
	display: inline-block;
	padding-inline-start: 50px;
}
